.blogHeader {
    width: 100%;
    background-image: url("../assets/blog-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: $textColor;
    height: 100vh;
    // display: flex;
    
    .mainWrapper {
        display: flex;
        // flex-direction: column;
        height: 100%;
        max-width: 90%;

        .blogContent {
            width: 50%;
            display: flex;
            flex-direction: column;
            height: 100%;

            .blogHeaderNav {
                // border: 2px solid yellow;
                height: 20%;
                display: flex;
                align-items: center;
                padding-top: 5%;
            }

            .blogHeaderNav ul {
                width: 75%;
                display: flex;
                justify-content: space-between;
                

                li a {
                   color: $textColor;
                   font-family: 'Roboto', sans-serif;
                   font-size: 20px;
                   line-height: 29px;
                   letter-spacing: 1px;
                }

                li a:hover {
                    padding-bottom: 5px;
                    border-bottom: 2px solid $accentColor;
                }
                
            }

            .blogHeaderTitle {
                // border: 2px solid yellow;
                height: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;

                h1 {
                    width: 100%;
                    font-size: 121.5px;
                    line-height: 125.6px;
                    // border: 2px solid red;
                    font-family: 'Walter Turncoat', cursive;
                    padding-top: 5%;
                }
            }
        }
    }
}

.blogSection {
    width: 100%;
    background-color: $primaryColor;
    padding: 6% 0 1% 0;
    color: $textColor;
    display: flex;
    justify-content: space-between;
    max-width: 100%;

    // .mainWrapper {
    //     display: flex;
    //     justify-content: space-between;
    //     max-width: 100%;

        .blogAside {
            width: 28%;
            display: flex;
            flex-direction: column;
            background-color: $secondaryColor;
            margin-bottom: 15%;
            margin-left: 5%;

            .asideImg {
                margin-left: -18%;
                margin-right: 4.5%;
                margin-top: -5%;
            }

            .asideText {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // align-items: space-between;
                
                
                .asideMission,
                .recentPosts {
                    padding: 5%;
                }

                h3 {
                    font-family: 'Walter Turncoat', cursive;
                    font-size: 26px;
                    margin-bottom: 2%;
                }

                p, li {
                   @include pStyles;
                }

                // li {
                //     // list-style-type: circle;
                //     // list-style-position: inside;
                //     // padding-left: 5%;
                // }
            }
        }

        .activities {
            width: 60%;
            display: flex;
            flex-direction: column;
            margin-top: -17%;

            .activitiesImg {
                margin-right: -9%;
                box-shadow: -15px 15px 0 1px rgba(8, 253, 237, 1);
                margin-right: 0%;
                margin-left: 30px;
            }

            .activitiesText {
                padding: 5% 5% 10% 10%;
                border-left: 5px solid $accentColor;
                border-bottom: 5px solid $accentColor;
                // padding-right: 5%;
                margin-left: 1.6%;

                * {
                    margin-bottom: 3%;
                }

                h2 {
                    font-family: 'Walter Turncoat', cursive;
                    font-size: 80px;
                    font-weight: 100;
                }

                p {
                    @include pStyles;
                } 
            }
        }
    // }
}

.commentsSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    align-items: flex-end;
    background-color: $primaryColor;

    .commentsContainer {
        width: 60%;
        display: flex;
        flex-direction: column;
        // border: 2px solid red;
        padding: 0 4% 5% 7.5%;
        color: $textColor;

        h2 {
            font-family: 'Walter Turncoat', cursive;
            font-size: 80px;
            font-weight: 100;
            margin-bottom: 2%;
        }

        .commentItem {
            display: flex;
            justify-content: space-between;
            // border: 2px solid yellow;
            

            .commentImg {
                width: 13%; 
            }

            .commentPost {
                display: flex;
                flex-direction: column;
                width: 81%;

                h3 {
                    font-family: 'Roboto', sans-serif;
                    font-size: 24px;
                    line-height: 28px;
                    font-style: italic;
                    font-weight: bold;
                    margin-bottom: 1%;
                    
                }
                
                p {
                    @include pStyles;
                }

            }
        }

        .commentItem.first {
            margin-bottom: 15%;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        // align-items: flex-start;
        width: 50%;
        // border: 2px solid yellow;
        margin-right: 4%;
        margin-bottom: 6%;
        

        .formFields {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 5%;

            input[type="text"] {
                width: 45%;
                height: 50px;
                border: none;
                background-color: $primaryColor;
                border-bottom: 2px solid $accentColor;
                @include pStyles;
            }

            input[type="email"] {
                width: 45%;
                height: 50px;
                border: none;
                background-color: $primaryColor;
                border-bottom: 2px solid $accentColor;
                @include pStyles;
            }

            input::placeholder {
                padding-left: 10%;
                color: $textColor;
                // @include pStyles;
            }
        }

        textarea {
            border: none;
            background-color: $primaryColor;
            border: 2px solid $accentColor;
            @include pStyles;
            margin-bottom: 5%;
            resize: none;
            padding-left: 2%;
            padding-top: 2%;
        }

        textarea::placeholder {
            // padding-left: 2%;
            // padding-top: 2%;
            color: $textColor;
        }

        button {
            width: 100%;
            padding: 5px 0;
        }
    }
}

footer {
    width: 100%;
    background-color: $tertiaryColor;
    color: $textColor;
    text-align: center;
    @include pStyles;
    padding: 10px 0;
}

// compelled to get minute details right

// main 2 div width may be too small