.contactHeader {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/contactHeader.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: $textColor;
    
    .mainWrapper {
        max-width: 80%;
        height: 100%;
        display: flex;
        
        .contactContent {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
        
            .contactHeaderNav {
                height: 20%;
                display: flex;
                align-items: center;
                padding-top: 5%;
            }

            .contactHeaderNav ul {
                width: 75%;
                display: flex;
                justify-content: space-between;
                

                li a {
                   @include listLinks;
                }

                li a:hover {
                    padding-bottom: 5px;
                    border-bottom: 2px solid $accentColor;
                }
            }

            .contactHeaderTitle {
                height: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;

                h1 {
                    @include secondaryPagesH1;
                    white-space: nowrap;
                    text-align: center;
                }
            }
        }
    }
}

.contactSection {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%; 
    background-color: $primaryColor;
    
    .contactContainer {
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;

        .contactInfo {
            width: 70%;
            flex-direction: column;
            align-items: center;

            .contactIcons {
                width: 50%;
                margin-bottom: 5%;

                ul {
                    display: flex;
                    justify-content: space-between;

                    li a {
                        @include pStyles;
                        color: $textColor;  
                        font-size: 26px;
                    }
                } 
            }

            .contactText {
                display: flex;
                flex-direction: column;

                p {
                    @include pStyles;
                    color: $textColor;
                }

                p:first-child {
                    margin-bottom: 8%;
                }
            }
        }
    }

    .contactForm {
        width: 60%;

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: -10% 4% 6% -10%;
            padding: 5% 5%;
            box-shadow: 15px 15px 0 1px rgb(8, 253, 237);
            background-color: $secondaryColor;

            .formFields {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 5%;

                input[type="text"] {
                    @include pStyles;
                    width: 45%;
                    height: 50px;
                    border: none;
                    background-color: $secondaryColor;
                    border-bottom: 2px solid $textColor;
                }

                input[type="email"] {
                    @include pStyles;
                    width: 45%;
                    height: 50px;
                    border: none;
                    background-color: $secondaryColor;
                    border-bottom: 2px solid $textColor;
                }

                input::placeholder {
                    padding-left: 10%;
                    color: $textColor;
                }
            }

            textarea {
                @include pStyles;
                margin-bottom: 5%;
                padding-top: 2%;
                padding-left: 2%;
                background-color: $secondaryColor;
                border: 2px solid $textColor;
                resize: none;
            }

            textarea::placeholder {
                color: $textColor;
            }

            button {
                width: 100%;
                padding: 5px 0;
            }
        }
    }
}

footer {
    @include pStyles;
    width: 100%;
    padding: 10px 0;
    background-color: $tertiaryColor;
    color: $textColor;
    text-align: center;   
}

/***********************************************************
		    		  MEDIA QUERIES
***********************************************************/

@media (max-width: 1020px) {
    .contactHeader {
        .mainWrapper {
            .contactContent {
                .contactHeaderNav {
                    ul {
                        width: 100%;
                    }
                }
            }
        }
    } 

    .contactSection {
        .contactContainer {
            .contactInfo {
                .contactIcons {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 820px) {
    .contactHeader {
        .mainWrapper {
            .contactContent {
                .contactHeaderTitle {
                    h1 {
                        font-size: 100px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .contactHeader {
        .mainWrapper {
            .contactContent {
                width: 100%;
                .contactHeaderNav {
                    ul {
                        width: 100%;
                    }
                }

                .contactHeaderTitle {
                    h1 {
                        white-space: initial;
                    }
                }
            }
        }
    }

    .contactSection {
        flex-direction: column;
        align-items: center;
        padding: 10% 0 5% 0;

        .contactContainer {
            width: 80%;
            order: 1;
            
            .contactInfo {
                width: 100%;
                margin-top: 5%;
                justify-content: center;
                text-align: center;
                
                .contactIcons {
                    width: 60%;
                    margin: 5% auto;
                }

                .contactText {
                    margin-bottom: 5%;
                }
            }
        }

        .contactForm {
            width: 80%;
            
            form {
                margin: 0;
            }
        }
    }
}

@media (max-width: 475px) {
    .contactHeader .mainWrapper .contactContent {
                .contactHeaderNav {
                    ul {
                        width: 100%;
                        flex-wrap: wrap;

                        li {
                            width: 50%;
                            margin-top: 5%;
                            text-align: center;
                            
                        }
                    }
                }
    }

    .contactSection {
        .contactContainer {
            .contactInfo {
                .contactIcons {
                    width: 90%;
                }
            }
        }

        .contactForm {
            width: 85%;

            form {
                box-shadow: none;

                .formFields {
                    flex-direction: column;

                    input[type="text"],
                    input[type="email"] {
                        width: 100%;
                        margin-bottom: 5%;
                    }
                }
            }
        }
    }
}