.contactHeader {
    width: 100%;
    background-image: url("../assets/contact-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: $textColor;
    height: 100vh;
    // display: flex;
    
    .mainWrapper {
        display: flex;
        // flex-direction: column;
        height: 100%;
        max-width: 80%;

        .contactContent {
            width: 50%;
            display: flex;
            flex-direction: column;
            height: 100%;

            .contactHeaderNav {
                // border: 2px solid yellow;
                height: 20%;
                display: flex;
                align-items: center;
                padding-top: 5%;
            }

            .contactHeaderNav ul {
                width: 75%;
                display: flex;
                justify-content: space-between;
                

                li a {
                   color: $textColor;
                   font-family: 'Roboto', sans-serif;
                   font-size: 20px;
                   line-height: 29px;
                   letter-spacing: 1px;
                }

                li a:hover {
                    padding-bottom: 5px;
                    border-bottom: 2px solid $accentColor;
                }
                
            }

            .contactHeaderTitle {
                // border: 2px solid yellow;
                height: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;

                h1 {
                    width: 100%;
                    font-size: 121.5px;
                    line-height: 125.6px;
                    // border: 2px solid red;
                    font-family: 'Walter Turncoat', cursive;
                    padding-top: 5%;
                    white-space: nowrap;
                    text-align: center;
                }
            }
        }
    }
}

.contactSection {
    width: 100%;
    // padding: 6% 0;
    padding-bottom: 5%; 
    background-color: $primaryColor;
    display: flex;
    justify-content: space-around;

    .contactContainer {
        width: 35%;
        display: flex;
        justify-content: center;
        // flex-direction: column;
        align-items: center;
        // border: 2px solid yellow;

        .contactInfo {
            width: 70%;
            flex-direction: column;
            align-items: center;
            // border: 2px solid hotpink;


            .contactIcons {
                // border: 2px solid coral;
                width: 50%;
                margin-bottom: 5%;

                ul {
                    display: flex;
                    justify-content: space-between;

                    li a {
                        color: $textColor;
                        @include pStyles;
                        font-size: 26px;
                    }
                }
                
            }

            .contactText {
                display: flex;
                flex-direction: column;
                // border: 2px solid orange;

                p {
                    color: $textColor;
                    @include pStyles;
                }

                p:first-child {
                    margin-bottom: 8%;
                }
                
            }

        }
        
    }

    .contactForm {
        width: 60%;

        form {
            display: flex;
            flex-direction: column;
            // align-items: flex-start;
            width: 100%;
            // border: 2px solid yellow;
            margin-right: 4%;
            margin-bottom: 6%;
            padding: 5% 5%;
            margin-top: -10%;
            margin-left: -10%;
            background-color: $secondaryColor;
            box-shadow: 15px 15px 0 1px rgb(8, 253, 237);
            

            .formFields {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 5%;

                input[type="text"] {
                    width: 45%;
                    height: 50px;
                    border: none;
                    background-color: $secondaryColor;
                    border-bottom: 2px solid $textColor;
                    @include pStyles;
                }

                input[type="email"] {
                    width: 45%;
                    height: 50px;
                    border: none;
                    background-color: $secondaryColor;
                    border-bottom: 2px solid $textColor;
                    @include pStyles;
                }

                input::placeholder {
                    padding-left: 10%;
                    color: $textColor;
                    // @include pStyles;
                }
            }

            textarea {
                border: none;
                background-color: $secondaryColor;
                border: 2px solid $textColor;
                @include pStyles;
                margin-bottom: 5%;
                resize: none;
                padding-left: 2%;
                padding-top: 2%;
            }

            textarea::placeholder {
                // padding-left: 2%;
                // padding-top: 2%;
                color: $textColor;
            }

            button {
                width: 100%;
                padding: 5px 0;
            }
        }
    }
}

footer {
    width: 100%;
    background-color: $tertiaryColor;
    color: $textColor;
    text-align: center;
    @include pStyles;
    padding: 10px 0;
}

@media (max-width: 1020px) {
    .contactHeader {
        .mainWrapper {
            .contactContent {
                .contactHeaderNav {
                    ul {
                        width: 100%;
                    }
                }
            }
        }
    } 

    .contactSection {
        .contactContainer {
            .contactInfo {
                .contactIcons {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 820px) {
    .contactHeader {
        .mainWrapper {
            .contactContent {
                .contactHeaderTitle {
                    h1 {
                        font-size: 100px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .contactHeader {
        .mainWrapper {
            .contactContent {
                width: 100%;
                .contactHeaderNav {
                    ul {
                        width: 100%;
                    }
                }

                .contactHeaderTitle {
                    h1 {
                        white-space: initial;
                        // text-align: center;
                    }
                }
            }
        }
    }

    .contactSection {
        flex-direction: column;
        align-items: center;
        padding: 10% 0 5% 0;

        .contactContainer {
            order: 1;
            width: 80%;
            .contactInfo {
                width: 100%;
                // align-items: center;
                justify-content: center;
                text-align: center;
                margin-top: 5%;

                .contactIcons {
                    width: 60%;
                    // text-align: center;
                    margin: 5% auto;
                }

                .contactText {
                    margin-bottom: 5%;
                }
            }
        }

        .contactForm {
            width: 80%;
            
            form {
                // margin-right: 0;
                // margin-bottom: 0;
                // margin-top: 0;
                // margin-left: 0;
                margin: 0;
            }
        }
    }
}

@media (max-width: 475px) {
    .contactHeader .mainWrapper .contactContent {
                .contactHeaderNav {
                    ul {
                        width: 100%;
                        flex-wrap: wrap;
                        // justify-content: center;

                        li {
                            // display: block;
                            width: 50%;
                            text-align: center;
                            margin-top: 5%;
                        }
                    }
                }
    }

    .contactSection {
        .contactContainer {
            .contactInfo {
                .contactIcons {
                    width: 90%;
                }
            }
        }

        .contactForm {
            width: 85%;
            form {
                box-shadow: none;

                .formFields {
                    flex-direction: column;

                    input[type="text"],
                    input[type="email"] {
                        width: 100%;
                        margin-bottom: 5%;
                    }
                }
            }
        }
    }
}