article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/***********************************************************
		    		  BASE STYLES
***********************************************************/
h1, h2, h3, ul, li, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #08fded;
  color: #474bb5;
  font-family: 'Walter Turncoat', cursive;
  font-size: 25.4px;
  line-height: 41.6px;
  text-align: center;
  white-space: nowrap;
}

button:hover,
button:focus {
  background-color: #f3faff;
}

button:active {
  background-color: coral;
}

.mainWrapper {
  max-width: 80%;
  margin: 0 auto;
}

/***********************************************************
		    		  MAIN HEADER
***********************************************************/
.mainHeader {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/homeHeader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #f3faff;
}

.mainHeader .mainWrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.mainHeader .mainWrapper .headerContent {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainHeader .mainWrapper .headerContent .headerNav {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
}

.mainHeader .mainWrapper .headerContent .headerNav ul {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainHeader .mainWrapper .headerContent .headerNav ul li a {
  color: #f3faff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
}

.mainHeader .mainWrapper .headerContent .headerNav ul li a:hover,
.mainHeader .mainWrapper .headerContent .headerNav ul li a:focus {
  padding-bottom: 5px;
  border-bottom: 2px solid #08fded;
}

.mainHeader .mainWrapper .headerContent .headerNav ul li a:active {
  color: coral;
}

.mainHeader .mainWrapper .headerContent .headerTitle {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.mainHeader .mainWrapper .headerContent .headerTitle h1 {
  width: 100%;
  font-size: 145.2px;
  font-family: 'Walter Turncoat', cursive;
  padding-top: 30%;
}

.mainHeader .mainWrapper .headerImg {
  -webkit-transform: translate(20%, 50%) scale(1.1);
          transform: translate(20%, 50%) scale(1.1);
}

.mainHeader .hamburger {
  display: none;
  position: absolute;
  top: 5%;
  right: 10%;
  color: #f3faff;
  font-size: 40px;
}

/***********************************************************
		    	MAIN HEADER MEDIA QUERIES
***********************************************************/
@media (min-width: 1600px) {
  .mainHeader .mainWrapper .headerImg {
    -webkit-transform: translate(20%, 45%) scale(1.1);
            transform: translate(20%, 45%) scale(1.1);
  }
}

@media (max-width: 1100px) {
  .mainHeader .mainWrapper .headerContent {
    width: 100%;
  }
  .mainHeader .mainWrapper .headerContent .headerNav ul {
    width: 80%;
    margin: 0 auto;
  }
  .mainHeader .mainWrapper .headerContent .headerTitle h1 {
    padding-top: 0;
    padding-bottom: 10%;
    text-align: center;
  }
  .mainHeader .mainWrapper .headerImg {
    display: none;
  }
}

@media (max-width: 768px) {
  .mainHeader .mainWrapper .headerContent .headerTitle h1 {
    padding-bottom: 20%;
    font-size: 110px;
  }
}

@media (max-width: 600px) {
  .mainHeader .mainWrapper .headerContent .headerTitle {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .mainHeader .mainWrapper .headerContent .headerTitle h1 {
    padding-top: 20%;
    padding-bottom: 0;
    font-size: 80px;
  }
}

@media (max-width: 475px) {
  .mainHeader .mainWrapper .headerContent .headerNav {
    display: none;
  }
  .mainHeader .mainWrapper .headerContent .headerTitle {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 40%;
  }
  .mainHeader .mainWrapper .headerContent .headerTitle h1 {
    font-size: 60px;
  }
  .mainHeader .hamburger {
    display: block;
  }
}

/***********************************************************
		    		FOUR LINKS SECTION
***********************************************************/
.fourLinks {
  width: 100%;
  padding: 15% 0 5% 0;
  background-color: #03697c;
  color: #f3faff;
}

.fourLinks .mainWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fourLinks .mainWrapper .fourLinksContainer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fourLinks .mainWrapper .fourLinksContainer .fourLinksText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fourLinks .mainWrapper .fourLinksContainer .fourLinksText span {
  margin-top: 3%;
}

.fourLinks .mainWrapper .fourLinksContainer .fourLinksText i {
  color: #474bb5;
}

.fourLinks .mainWrapper .fourLinksContainer .fourLinksText .icon-background {
  color: #08fded;
}

.fourLinks .mainWrapper .fourLinksContainer .fourLinksText .fourLinksTitle {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2%;
}

.fourLinks .mainWrapper .fourLinksContainer .fourLinksText .fourLinksTitle h2 {
  font-family: 'Walter Turncoat', cursive;
  font-size: 45px;
  line-height: 99.8px;
}

.fourLinks .mainWrapper .fourLinksContainer .fourLinksText p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
}

/***********************************************************
		    		QUADRANT SECTION
***********************************************************/
.quadrantSection {
  width: 100%;
  background-color: #474bb5;
  color: #f3faff;
  font-family: 'Roboto', sans-serif;
}

.quadrantSection .mainWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quadrantSection .mainWrapper .ourPrograms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 0;
}

.quadrantSection .mainWrapper .ourPrograms .ourProgramsImg {
  width: 52.5%;
  margin-top: -10%;
  margin-left: -12.5%;
  -webkit-box-shadow: 15px 15px 0 1px #08fded;
          box-shadow: 15px 15px 0 1px #08fded;
}

.quadrantSection .mainWrapper .ourPrograms .ourProgramsText {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.quadrantSection .mainWrapper .ourPrograms .ourProgramsText h2 {
  font-family: 'Walter Turncoat', cursive;
  font-size: 40px;
}

.quadrantSection .mainWrapper .ourPrograms .ourProgramsText p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  padding: 5% 0;
}

.quadrantSection .mainWrapper .newLocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 0;
}

.quadrantSection .mainWrapper .newLocation .newLocationImg {
  width: 52.5%;
  margin-right: -12.5%;
  margin-bottom: -10%;
  -webkit-box-shadow: -15px 15px 0 1px #08fded;
          box-shadow: -15px 15px 0 1px #08fded;
}

.quadrantSection .mainWrapper .newLocation .newLocationText {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

.quadrantSection .mainWrapper .newLocation .newLocationText h2 {
  font-family: 'Walter Turncoat', cursive;
  font-size: 40px;
}

.quadrantSection .mainWrapper .newLocation .newLocationText p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  padding: 5% 0;
}

/***********************************************************
		    		ROAD TRIP SECTION
***********************************************************/
.roadTripsSection {
  width: 100%;
  background-color: #03697c;
  color: #f3faff;
  padding: 13% 5% 8% 5%;
}

.roadTripsSection .mainWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.roadTripsSection .mainWrapper .roadTripsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.roadTripsSection .mainWrapper .roadTripsContent h2 {
  font-size: 40px;
  text-align: center;
}

.roadTripsSection .mainWrapper .roadTripsContent p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  padding: 5% 0;
}

.swimmingImg {
  width: 100%;
  height: 70vh;
  background-image: url("../assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/***********************************************************
		    		EVENTS SECTION
***********************************************************/
.eventsSection {
  width: 100%;
  background-color: #03697c;
  padding: 10% 0 5% 0;
}

.eventsSection .mainWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.eventsSection .mainWrapper .eventsImg {
  width: 30%;
  -webkit-box-shadow: -15px 15px 0 1px #08fded;
          box-shadow: -15px 15px 0 1px #08fded;
}

.eventsSection .mainWrapper .eventsContent {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #f3faff;
}

.eventsSection .mainWrapper .eventsContent h2 {
  font-family: 'Walter Turncoat', cursive;
  font-size: 40px;
}

.eventsSection .mainWrapper .eventsContent p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  padding: 5% 0;
}

/***********************************************************
		    		GALLERY SECTION
***********************************************************/
.gallerySection {
  width: 100%;
  padding: 5% 0;
  background-color: #474bb5;
}

.gallerySection .mainWrapper .galleryContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallerySection .mainWrapper .galleryContainer .galleryItem {
  width: 31%;
}

footer {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  width: 100%;
  padding: 10px 0;
  background-color: #044779;
  color: #f3faff;
  text-align: center;
}

/***********************************************************
		    	  MAIN PAGE MEDIA QUERIES
***********************************************************/
@media (max-width: 1250px) {
  .quadrantSection .mainWrapper .ourPrograms .ourProgramsImg {
    margin: initial;
  }
  .quadrantSection .mainWrapper .newLocation .newLocationImg {
    margin: initial;
  }
  .fourLinks {
    padding-top: 5%;
  }
}

@media (max-width: 1020px) {
  .fourLinks {
    padding-bottom: 10%;
  }
  .fourLinks .mainWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fourLinks .mainWrapper .fourLinksContainer {
    width: 100%;
    margin-top: 5%;
  }
}

@media (max-width: 768px) {
  .quadrantSection {
    padding-bottom: 10%;
  }
  .quadrantSection .mainWrapper .ourPrograms {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: initial;
  }
  .quadrantSection .mainWrapper .ourPrograms .ourProgramsImg {
    width: 100%;
    -webkit-transform: translate(5%, -10%);
            transform: translate(5%, -10%);
  }
  .quadrantSection .mainWrapper .ourPrograms .ourProgramsText {
    width: 100%;
    margin-bottom: 5%;
  }
  .quadrantSection .mainWrapper .newLocation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: initial;
  }
  .quadrantSection .mainWrapper .newLocation .newLocationImg {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 10%;
    -webkit-transform: translate(-5%, 10%);
            transform: translate(-5%, 10%);
  }
  .quadrantSection .mainWrapper .newLocation .newLocationText {
    width: 100%;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-top: 5%;
  }
  .eventsSection {
    padding: 10% 0 10% 0;
  }
  .eventsSection .mainWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .eventsSection .mainWrapper .eventsImg {
    width: 60%;
  }
  .eventsSection .mainWrapper .eventsContent {
    width: 100%;
    margin-top: 10%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallerySection .mainWrapper .galleryContainer .galleryItem {
    width: 48%;
  }
  .gallerySection .mainWrapper .galleryContainer .galleryItem:first-child {
    display: none;
  }
}

@media (max-width: 400px) {
  .fourLinks .mainWrapper .fourLinksContainer .fourLinksText span {
    display: none;
  }
  .fourLinks .mainWrapper .fourLinksContainer .fourLinksText .fourLinksTitle {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fourLinks .mainWrapper .fourLinksContainer .fourLinksText .fourLinksTitle h2 {
    font-size: 32px;
    line-height: 80px;
    white-space: nowrap;
  }
  .fourLinks .mainWrapper .fourLinksContainer .fourLinksText .fourLinksTitle p {
    text-align: center;
  }
}

@media (max-width: 320px) {
  .gallerySection .mainWrapper .galleryContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5% 0;
  }
  .gallerySection .mainWrapper .galleryContainer .galleryItem {
    width: 80%;
    margin-bottom: 5%;
  }
  .gallerySection .mainWrapper .galleryContainer .galleryItem:first-child {
    display: block;
  }
}

/***********************************************************
		    		  BLOG PAGE HEADER
***********************************************************/
.blogHeader {
  width: 100%;
  height: 90vh;
  background-image: url("../assets/blogHeader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #f3faff;
}

.blogHeader .mainWrapper {
  max-width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.blogHeader .mainWrapper .blogContent {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogHeader .mainWrapper .blogContent .blogHeaderNav {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
}

.blogHeader .mainWrapper .blogContent .blogHeaderNav ul {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogHeader .mainWrapper .blogContent .blogHeaderNav ul li a {
  color: #f3faff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
}

.blogHeader .mainWrapper .blogContent .blogHeaderNav ul li a:hover,
.blogHeader .mainWrapper .blogContent .blogHeaderNav ul li a:focus {
  padding-bottom: 5px;
  border-bottom: 2px solid #08fded;
}

.blogHeader .mainWrapper .blogContent .blogHeaderNav ul li a:active {
  color: coral;
}

.blogHeader .mainWrapper .blogContent .blogHeaderTitle {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogHeader .mainWrapper .blogContent .blogHeaderTitle h1 {
  width: 100%;
  font-size: 121.5px;
  line-height: 125.6px;
  font-family: 'Walter Turncoat', cursive;
  padding-top: 5%;
}

.blogHeader .hamburger {
  display: none;
  position: absolute;
  top: 5%;
  right: 10%;
  color: #f3faff;
  font-size: 40px;
}

/***********************************************************
		    		  BLOG SECTION
***********************************************************/
.blogSection {
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6% 0 1% 0;
  background-color: #03697c;
  color: #f3faff;
}

.blogSection .blogAside {
  width: 28%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5%;
  padding-bottom: 1%;
  background-color: #474bb5;
}

.blogSection .blogAside .asideImg {
  margin-top: -5%;
  margin-right: 4.5%;
  margin-left: -18%;
}

.blogSection .blogAside .asideText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogSection .blogAside .asideText .asideMission,
.blogSection .blogAside .asideText .recentPosts {
  padding: 5%;
}

.blogSection .blogAside .asideText h3 {
  font-family: 'Walter Turncoat', cursive;
  font-size: 26px;
  margin-bottom: 2%;
}

.blogSection .blogAside .asideText p, .blogSection .blogAside .asideText li {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.blogSection .blogAside .asideText li {
  position: relative;
  padding-left: 7%;
}

.blogSection .blogAside .asideText li::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 40%;
  left: 0;
  border-radius: 50%;
  background-color: #08fded;
}

.blogSection .activities {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -17%;
}

.blogSection .activities .activitiesImg {
  margin-left: 16px;
  -webkit-box-shadow: -15px 15px 0 1px #08fded;
          box-shadow: -15px 15px 0 1px #08fded;
}

.blogSection .activities .activitiesText {
  padding: 5% 5% 10% 10%;
  border-left: 5px solid #08fded;
  border-bottom: 5px solid #08fded;
}

.blogSection .activities .activitiesText * {
  margin-bottom: 3%;
}

.blogSection .activities .activitiesText h2 {
  font-family: 'Walter Turncoat', cursive;
  font-size: 80px;
  font-weight: 100;
}

.blogSection .activities .activitiesText p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
}

/***********************************************************
		    		  COMMENTS SECTION
***********************************************************/
.commentsSection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #03697c;
}

.commentsSection .commentsContainer {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 4% 5% 7.5%;
  color: #f3faff;
}

.commentsSection .commentsContainer h2 {
  font-family: 'Walter Turncoat', cursive;
  font-size: 80px;
  font-weight: 100;
  margin-bottom: 2%;
}

.commentsSection .commentsContainer .commentItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.commentsSection .commentsContainer .commentItem .commentImg {
  width: 13%;
}

.commentsSection .commentsContainer .commentItem .commentPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 81%;
}

.commentsSection .commentsContainer .commentItem .commentPost h3 {
  margin-bottom: 1%;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-style: italic;
  font-weight: bold;
}

.commentsSection .commentsContainer .commentItem .commentPost p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.commentsSection .commentsContainer .commentItem.first {
  margin-bottom: 15%;
}

.commentsSection form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 4%;
  margin-bottom: 6%;
}

.commentsSection form .formFields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5%;
}

.commentsSection form .formFields input[type="text"] {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  width: 45%;
  height: 50px;
  border: none;
  background-color: #03697c;
  border-bottom: 2px solid #08fded;
}

.commentsSection form .formFields input[type="email"] {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  width: 45%;
  height: 50px;
  border: none;
  background-color: #03697c;
  border-bottom: 2px solid #08fded;
}

.commentsSection form .formFields input[type="text"]:focus,
.commentsSection form .formFields input[type="email"]:focus {
  border: 2px solid coral;
}

.commentsSection form .formFields input::-webkit-input-placeholder {
  padding-left: 10%;
  color: #f3faff;
}

.commentsSection form .formFields input:-ms-input-placeholder {
  padding-left: 10%;
  color: #f3faff;
}

.commentsSection form .formFields input::-ms-input-placeholder {
  padding-left: 10%;
  color: #f3faff;
}

.commentsSection form .formFields input::placeholder {
  padding-left: 10%;
  color: #f3faff;
}

.commentsSection form textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 5%;
  padding-top: 2%;
  padding-left: 2%;
  border: none;
  background-color: #03697c;
  border: 2px solid #08fded;
  resize: none;
}

.commentsSection form textarea:focus {
  border: 2px solid coral;
}

.commentsSection form textarea::-webkit-input-placeholder {
  color: #f3faff;
}

.commentsSection form textarea:-ms-input-placeholder {
  color: #f3faff;
}

.commentsSection form textarea::-ms-input-placeholder {
  color: #f3faff;
}

.commentsSection form textarea::placeholder {
  color: #f3faff;
}

.commentsSection form button {
  width: 100%;
  padding: 5px 0;
}

footer {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  width: 100%;
  padding: 10px 0;
  background-color: #044779;
  color: #f3faff;
  text-align: center;
}

/***********************************************************
		    	 BLOG PAGE MEDIA QUERIES
***********************************************************/
@media (max-width: 900px) {
  .blogHeader .mainWrapper .blogContent .blogHeaderNav ul {
    width: 100%;
  }
  .blogSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .blogSection .blogAside {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: initial;
    padding: initial;
    padding: 5%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blogSection .blogAside .asideImg {
    width: 40%;
    margin: initial;
  }
  .blogSection .blogAside .asideText {
    width: 55%;
  }
  .blogSection .blogAside .asideText .asideMission,
  .blogSection .blogAside .asideText .recentPosts {
    padding: initial;
  }
  .blogSection .blogAside .asideText .recentPosts {
    margin-top: 5%;
  }
  .blogSection .blogAside .asideText h3 {
    margin: initial;
  }
  .blogSection .activities {
    width: 100%;
    margin: initial;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5% 0;
  }
  .blogSection .activities .activitiesImg {
    width: 90%;
    margin: initial;
  }
  .blogSection .activities .activitiesText {
    padding: initial;
    padding: 5% 10%;
    border: none;
  }
  .commentsSection .commentsContainer {
    width: 100%;
    padding: initial;
    padding: 0 10% 5% 10%;
  }
  .commentsSection .commentsContainer h2 {
    margin-bottom: 5%;
  }
  .commentsSection form {
    width: 100%;
    margin: initial;
    padding: 0 10% 5% 10%;
  }
}

@media (max-width: 768px) {
  .blogHeader .mainWrapper
.blogContent {
    width: 100%;
  }
  .blogHeader .mainWrapper
.blogContent .blogHeaderNav ul {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .blogSection .blogAside .asideImg {
    display: none;
  }
  .blogSection .blogAside .asideText {
    width: 100%;
  }
  .blogSection .blogAside .asideText h3 {
    text-align: center;
    margin-bottom: 3%;
  }
  .blogSection .activities .activitiesText h2 {
    font-size: 50px;
  }
  .commentsSection .commentsContainer h2 {
    font-size: 50px;
  }
}

@media (max-width: 400px) {
  .blogHeader .mainWrapper .blogContent .blogHeaderNav {
    display: none;
  }
  .blogHeader .mainWrapper .blogContent .blogHeaderTitle {
    padding-top: 40%;
  }
  .blogHeader .hamburger {
    display: block;
  }
  .commentsSection form .formFields {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5%;
  }
  .commentsSection form .formFields input[type="text"],
  .commentsSection form .formFields input[type="email"] {
    width: 100%;
    margin-bottom: 5%;
  }
}

/***********************************************************
		    		CONTACT PAGE HEADER
***********************************************************/
.contactHeader {
  width: 100%;
  height: 90vh;
  background-image: url("../assets/contactHeader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #f3faff;
}

.contactHeader .mainWrapper {
  max-width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.contactHeader .mainWrapper .contactContent {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactHeader .mainWrapper .contactContent .contactHeaderNav {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
}

.contactHeader .mainWrapper .contactContent .contactHeaderNav ul {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactHeader .mainWrapper .contactContent .contactHeaderNav ul li a {
  color: #f3faff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
}

.contactHeader .mainWrapper .contactContent .contactHeaderNav ul li a:hover,
.contactHeader .mainWrapper .contactContent .contactHeaderNav ul li a:focus {
  padding-bottom: 5px;
  border-bottom: 2px solid #08fded;
}

.contactHeader .mainWrapper .contactContent .contactHeaderNav ul li a:active {
  color: coral;
}

.contactHeader .mainWrapper .contactContent .contactHeaderTitle {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactHeader .mainWrapper .contactContent .contactHeaderTitle h1 {
  width: 100%;
  font-size: 121.5px;
  line-height: 125.6px;
  font-family: 'Walter Turncoat', cursive;
  padding-top: 5%;
  white-space: nowrap;
  text-align: center;
}

.contactHeader .hamburger {
  display: none;
  position: absolute;
  top: 5%;
  right: 10%;
  color: #f3faff;
  font-size: 40px;
}

/***********************************************************
		    		  CONTACT SECTION
***********************************************************/
.contactSection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 5%;
  background-color: #03697c;
}

.contactSection .contactContainer {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactSection .contactContainer .contactInfo {
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactSection .contactContainer .contactInfo .contactIcons {
  width: 50%;
  margin-bottom: 5%;
}

.contactSection .contactContainer .contactInfo .contactIcons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactSection .contactContainer .contactInfo .contactIcons ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #f3faff;
  font-size: 26px;
}

.contactSection .contactContainer .contactInfo .contactIcons ul li a:hover,
.contactSection .contactContainer .contactInfo .contactIcons ul li a:focus {
  color: #08fded;
}

.contactSection .contactContainer .contactInfo .contactText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactSection .contactContainer .contactInfo .contactText p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #f3faff;
}

.contactSection .contactContainer .contactInfo .contactText p:first-child {
  margin-bottom: 8%;
}

.contactSection .contactForm {
  width: 60%;
}

.contactSection .contactForm form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -10% 4% 6% -10%;
  padding: 5% 5%;
  -webkit-box-shadow: 15px 15px 0 1px #08fded;
          box-shadow: 15px 15px 0 1px #08fded;
  background-color: #474bb5;
}

.contactSection .contactForm form .formFields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5%;
}

.contactSection .contactForm form .formFields input[type="text"] {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  width: 45%;
  height: 50px;
  border: none;
  background-color: #474bb5;
  border-bottom: 2px solid #f3faff;
}

.contactSection .contactForm form .formFields input[type="email"] {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  width: 45%;
  height: 50px;
  border: none;
  background-color: #474bb5;
  border-bottom: 2px solid #f3faff;
}

.contactSection .contactForm form .formFields input[type="text"]:focus,
.contactSection .contactForm form .formFields input[type="email"]:focus {
  border: 5px solid #08fded;
}

.contactSection .contactForm form .formFields input::-webkit-input-placeholder {
  padding-left: 10%;
  color: #f3faff;
}

.contactSection .contactForm form .formFields input:-ms-input-placeholder {
  padding-left: 10%;
  color: #f3faff;
}

.contactSection .contactForm form .formFields input::-ms-input-placeholder {
  padding-left: 10%;
  color: #f3faff;
}

.contactSection .contactForm form .formFields input::placeholder {
  padding-left: 10%;
  color: #f3faff;
}

.contactSection .contactForm form textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 5%;
  padding-top: 2%;
  padding-left: 2%;
  background-color: #474bb5;
  border: 2px solid #f3faff;
  resize: none;
}

.contactSection .contactForm form textarea:focus {
  border: 5px solid #08fded;
}

.contactSection .contactForm form textarea::-webkit-input-placeholder {
  color: #f3faff;
}

.contactSection .contactForm form textarea:-ms-input-placeholder {
  color: #f3faff;
}

.contactSection .contactForm form textarea::-ms-input-placeholder {
  color: #f3faff;
}

.contactSection .contactForm form textarea::placeholder {
  color: #f3faff;
}

.contactSection .contactForm form button {
  width: 100%;
  padding: 5px 0;
}

footer {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  width: 100%;
  padding: 10px 0;
  background-color: #044779;
  color: #f3faff;
  text-align: center;
}

/***********************************************************
		    	CONTACT PAGE MEDIA QUERIES
***********************************************************/
@media (max-width: 1020px) {
  .contactHeader .mainWrapper .contactContent .contactHeaderNav ul {
    width: 100%;
  }
  .contactSection .contactContainer .contactInfo .contactIcons {
    width: 100%;
  }
}

@media (max-width: 820px) {
  .contactHeader .mainWrapper .contactContent .contactHeaderTitle h1 {
    font-size: 100px;
  }
}

@media (max-width: 768px) {
  .contactHeader .mainWrapper .contactContent {
    width: 100%;
  }
  .contactHeader .mainWrapper .contactContent .contactHeaderNav ul {
    width: 100%;
  }
  .contactHeader .mainWrapper .contactContent .contactHeaderTitle h1 {
    white-space: initial;
  }
  .contactSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10% 0 5% 0;
  }
  .contactSection .contactContainer {
    width: 80%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contactSection .contactContainer .contactInfo {
    width: 100%;
    margin-top: 5%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .contactSection .contactContainer .contactInfo .contactIcons {
    width: 60%;
    margin: 5% auto;
  }
  .contactSection .contactContainer .contactInfo .contactText {
    margin-bottom: 5%;
  }
  .contactSection .contactForm {
    width: 80%;
  }
  .contactSection .contactForm form {
    margin: 0;
  }
}

@media (max-width: 475px) {
  .contactHeader .mainWrapper .contactContent .contactHeaderNav {
    display: none;
  }
  .contactHeader .mainWrapper .contactContent .contactHeaderTitle {
    padding-top: 40%;
  }
  .contactHeader .hamburger {
    display: block;
  }
  .contactSection .contactContainer .contactInfo .contactIcons {
    width: 90%;
  }
  .contactSection .contactForm {
    width: 85%;
  }
  .contactSection .contactForm form {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .contactSection .contactForm form .formFields {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactSection .contactForm form .formFields input[type="text"],
  .contactSection .contactForm form .formFields input[type="email"] {
    width: 100%;
    margin-bottom: 5%;
  }
}
/*# sourceMappingURL=style.css.map */