@import "../partials/setup";
@import "../partials/variables";
@import "../partials/header";
@import "../partials/mainSection";
@import "../partials/blog";
@import "../partials/contact";

// font-family: 'Roboto', sans-serif;
// font-family: 'Walter Turncoat', cursive;

h1, h2, h3, ul, li, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
    object-fit: contain;
    display: block;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: $accentColor;
    color: $secondaryColor;
    font-family: 'Walter Turncoat', cursive;
    font-size: 25.4px;
    line-height: 41.6px;
    text-align: center;
    white-space: nowrap;
}

.mainWrapper {
    max-width: 80%;
    margin: 0 auto;
}




// challenge pushing image out of container. Solved by removing width: 50% from its parent. width 50% for its sibling is enough.

// challenge resizing the offset images, especially the header

// challenge having border line up with the box shadow. have the margin offset by the width of the box shadow

// change assets names

// win learning about icon stacking