article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.mainHeader {
  width: 100%;
  background-image: url("../assets/home-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #f3faff;
  height: 100vh;
}

.mainHeader .mainWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.mainHeader .mainWrapper .headerContent {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.mainHeader .mainWrapper .headerContent .headerNav {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
}

.mainHeader .mainWrapper .headerContent .headerNav ul li a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #08fded;
}

.mainHeader .mainWrapper .headerContent .headerNav ul {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainHeader .mainWrapper .headerContent .headerNav ul li a {
  color: #f3faff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
}

.mainHeader .mainWrapper .headerContent .headerTitle {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainHeader .mainWrapper .headerContent .headerTitle h1 {
  width: 100%;
  font-size: 145.2px;
  font-family: 'Walter Turncoat', cursive;
  padding-top: 30%;
}

.mainHeader .mainWrapper .headerImg {
  width: auto;
  margin-top: 20%;
  margin-right: -5.5%;
}

.blogHeader {
  width: 100%;
  background-image: url("../assets/blog-header.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #f3faff;
  height: 100vh;
}

.blogHeader .mainWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 90%;
}

.blogHeader .mainWrapper .blogContent {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.blogHeader .mainWrapper .blogContent .blogHeaderNav {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
}

.blogHeader .mainWrapper .blogContent .blogHeaderNav ul {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogHeader .mainWrapper .blogContent .blogHeaderNav ul li a {
  color: #f3faff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
}

.blogHeader .mainWrapper .blogContent .blogHeaderNav ul li a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #08fded;
}

.blogHeader .mainWrapper .blogContent .blogHeaderTitle {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogHeader .mainWrapper .blogContent .blogHeaderTitle h1 {
  width: 100%;
  font-size: 121.5px;
  line-height: 125.6px;
  font-family: 'Walter Turncoat', cursive;
  padding-top: 5%;
}

.blogSection {
  width: 100%;
  background-color: #03697c;
  padding: 6% 0 1% 0;
  color: #f3faff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}

.blogSection .blogAside {
  width: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #474bb5;
  margin-bottom: 15%;
  margin-left: 5%;
}

.blogSection .blogAside .asideImg {
  margin-left: -18%;
  margin-right: 4.5%;
  margin-top: -5%;
}

.blogSection .blogAside .asideText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogSection .blogAside .asideText .asideMission,
.blogSection .blogAside .asideText .recentPosts {
  padding: 5%;
}

.blogSection .blogAside .asideText h3 {
  font-family: 'Walter Turncoat', cursive;
  font-size: 26px;
  margin-bottom: 2%;
}

.blogSection .blogAside .asideText p, .blogSection .blogAside .asideText li {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.blogSection .activities {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -17%;
}

.blogSection .activities .activitiesImg {
  margin-right: -9%;
  -webkit-box-shadow: -15px 15px 0 1px #08fded;
          box-shadow: -15px 15px 0 1px #08fded;
  margin-right: 0%;
  margin-left: 30px;
}

.blogSection .activities .activitiesText {
  padding: 5% 5% 10% 10%;
  border-left: 5px solid #08fded;
  border-bottom: 5px solid #08fded;
  margin-left: 1.6%;
}

.blogSection .activities .activitiesText * {
  margin-bottom: 3%;
}

.blogSection .activities .activitiesText h2 {
  font-family: 'Walter Turncoat', cursive;
  font-size: 80px;
  font-weight: 100;
}

.blogSection .activities .activitiesText p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.commentsSection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #03697c;
}

.commentsSection .commentsContainer {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 4% 5% 7.5%;
  color: #f3faff;
}

.commentsSection .commentsContainer h2 {
  font-family: 'Walter Turncoat', cursive;
  font-size: 80px;
  font-weight: 100;
  margin-bottom: 2%;
}

.commentsSection .commentsContainer .commentItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.commentsSection .commentsContainer .commentItem .commentImg {
  width: 13%;
}

.commentsSection .commentsContainer .commentItem .commentPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 81%;
}

.commentsSection .commentsContainer .commentItem .commentPost h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 1%;
}

.commentsSection .commentsContainer .commentItem .commentPost p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.commentsSection .commentsContainer .commentItem.first {
  margin-bottom: 15%;
}

.commentsSection form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin-right: 4%;
  margin-bottom: 6%;
}

.commentsSection form .formFields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5%;
}

.commentsSection form .formFields input[type="text"] {
  width: 45%;
  height: 50px;
  border: none;
  background-color: #03697c;
  border-bottom: 2px solid #08fded;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.commentsSection form .formFields input[type="email"] {
  width: 45%;
  height: 50px;
  border: none;
  background-color: #03697c;
  border-bottom: 2px solid #08fded;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.commentsSection form .formFields input::-webkit-input-placeholder {
  padding-left: 10%;
  color: #f3faff;
}

.commentsSection form .formFields input:-ms-input-placeholder {
  padding-left: 10%;
  color: #f3faff;
}

.commentsSection form .formFields input::-ms-input-placeholder {
  padding-left: 10%;
  color: #f3faff;
}

.commentsSection form .formFields input::placeholder {
  padding-left: 10%;
  color: #f3faff;
}

.commentsSection form textarea {
  border: none;
  background-color: #03697c;
  border: 2px solid #08fded;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 5%;
}

.commentsSection form textarea::-webkit-input-placeholder {
  padding-left: 2%;
  padding-top: 2%;
  color: #f3faff;
}

.commentsSection form textarea:-ms-input-placeholder {
  padding-left: 2%;
  padding-top: 2%;
  color: #f3faff;
}

.commentsSection form textarea::-ms-input-placeholder {
  padding-left: 2%;
  padding-top: 2%;
  color: #f3faff;
}

.commentsSection form textarea::placeholder {
  padding-left: 2%;
  padding-top: 2%;
  color: #f3faff;
}

.commentsSection form button {
  width: 100%;
  padding: 5px 0;
}

footer {
  width: 100%;
  background-color: #044779;
  color: #f3faff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  padding: 10px 0;
}

.contactHeader {
  width: 100%;
  background-image: url("../assets/contact-header.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  color: #f3faff;
  height: 100vh;
}

.contactHeader .mainWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 80%;
}

.contactHeader .mainWrapper .contactContent {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.contactHeader .mainWrapper .contactContent .contactHeaderNav {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
}

.contactHeader .mainWrapper .contactContent .contactHeaderNav ul {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactHeader .mainWrapper .contactContent .contactHeaderNav ul li a {
  color: #f3faff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
}

.contactHeader .mainWrapper .contactContent .contactHeaderNav ul li a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #08fded;
}

.contactHeader .mainWrapper .contactContent .contactHeaderTitle {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactHeader .mainWrapper .contactContent .contactHeaderTitle h1 {
  width: 100%;
  font-size: 121.5px;
  line-height: 125.6px;
  font-family: 'Walter Turncoat', cursive;
  padding-top: 5%;
}

h1, h2, h3, ul, li, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

button {
  border: none;
  background-color: #08fded;
  font-family: 'Walter Turncoat', cursive;
  font-size: 25.4px;
  line-height: 41.6px;
  text-align: center;
  padding: 10px 15px;
  width: 34%;
  white-space: nowrap;
  color: #474bb5;
}

.mainWrapper {
  max-width: 80%;
  margin: 0 auto;
}

.fourLinks {
  padding: 15% 0 5% 0;
  width: 100%;
  background-color: #03697c;
  color: #f3faff;
}

.fourLinks .mainWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fourLinks .mainWrapper .fourLinksContainer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fourLinks .mainWrapper .fourLinksContainer .fourLinksText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fourLinks .mainWrapper .fourLinksContainer .fourLinksText i {
  font-size: 32px;
  border-radius: 50%;
  background-color: #08fded;
  padding: 2%;
  color: #474bb5;
  margin-top: 4%;
}

.fourLinks .mainWrapper .fourLinksContainer .fourLinksText .fa-users {
  padding: 3% 2.5%;
  font-size: 24px;
}

.fourLinks .mainWrapper .fourLinksContainer .fourLinksText .fa-file {
  padding: 2% 3%;
}

.fourLinks .mainWrapper .fourLinksContainer .fourLinksText .fa-phone {
  font-size: 24px;
}

.fourLinks .mainWrapper .fourLinksContainer .fourLinksText .fourLinksTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2%;
}

.fourLinks .mainWrapper .fourLinksContainer .fourLinksText .fourLinksTitle h2 {
  font-family: 'Walter Turncoat', cursive;
  font-size: 45px;
  line-height: 99.8px;
}

.fourLinks .mainWrapper .fourLinksContainer .fourLinksText p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.quadrantSection {
  width: 100%;
  background-color: #474bb5;
  font-family: 'Roboto', sans-serif;
  color: #f3faff;
}

.quadrantSection .mainWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quadrantSection .mainWrapper .ourPrograms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 0;
}

.quadrantSection .mainWrapper .ourPrograms .ourProgramsImg {
  width: 52.5%;
  margin-left: -12.5%;
  -webkit-box-shadow: 15px 15px 0 1px #08fded;
          box-shadow: 15px 15px 0 1px #08fded;
  margin-top: -10%;
}

.quadrantSection .mainWrapper .ourPrograms .ourProgramsText {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quadrantSection .mainWrapper .ourPrograms .ourProgramsText h2 {
  font-family: 'Walter Turncoat', cursive;
  font-size: 40px;
}

.quadrantSection .mainWrapper .ourPrograms .ourProgramsText p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  padding: 5% 0;
}

.quadrantSection .mainWrapper .newLocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 0;
}

.quadrantSection .mainWrapper .newLocation .newLocationImg {
  width: 52.5%;
  margin-right: -12.5%;
  -webkit-box-shadow: -15px 15px 0 1px #08fded;
          box-shadow: -15px 15px 0 1px #08fded;
  margin-bottom: -10%;
}

.quadrantSection .mainWrapper .newLocation .newLocationText {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.quadrantSection .mainWrapper .newLocation .newLocationText h2 {
  font-family: 'Walter Turncoat', cursive;
  font-size: 40px;
}

.quadrantSection .mainWrapper .newLocation .newLocationText p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  padding: 5% 0;
}

.roadTripsSection {
  width: 100%;
  background-color: #03697c;
  color: #f3faff;
  padding: 13% 5% 8% 5%;
}

.roadTripsSection .mainWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.roadTripsSection .mainWrapper .roadTripsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.roadTripsSection .mainWrapper .roadTripsContent h2 {
  font-size: 40px;
}

.roadTripsSection .mainWrapper .roadTripsContent p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  padding: 5% 0;
}

.roadTripsSection .mainWrapper .roadTripsContent button {
  width: 25%;
}

.swimmingImg {
  width: 100%;
  height: 70vh;
  background-image: url("../assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.eventsSection {
  width: 100%;
  background-color: #03697c;
  padding: 10% 0 5% 0;
}

.eventsSection .mainWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.eventsSection .mainWrapper .eventsImg {
  width: 30%;
  -webkit-box-shadow: -15px 15px 0 1px #08fded;
          box-shadow: -15px 15px 0 1px #08fded;
}

.eventsSection .mainWrapper .eventsContent {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f3faff;
}

.eventsSection .mainWrapper .eventsContent h2 {
  font-size: 40px;
  font-family: 'Walter Turncoat', cursive;
}

.eventsSection .mainWrapper .eventsContent p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  padding: 5% 0;
}

.eventsSection .mainWrapper .eventsContent button {
  width: 30%;
}

.gallerySection {
  width: 100%;
  background-color: #474bb5;
  padding: 5% 0;
}

.gallerySection .mainWrapper .galleryContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallerySection .mainWrapper .galleryContainer .galleryItem {
  width: 31%;
}

footer {
  width: 100%;
  background-color: #044779;
  color: #f3faff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  padding: 10px 0;
}
/*# sourceMappingURL=style.css.map */